<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974225460698-g0md949git4nn9l9bctv4b69e4e94hhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974225460698-g0md949git4nn9l9bctv4b69e4e94hhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974225460698-4obt8jgt3bdct4i7cqe3kvrchmebovg5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfscl5xI_4G1i6ib01IsYFvRaZ1-LIXjc</string>
	<key>GCM_SENDER_ID</key>
	<string>974225460698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smsMessenger</string>
	<key>PROJECT_ID</key>
	<string>sms-messenger-f6917</string>
	<key>STORAGE_BUCKET</key>
	<string>sms-messenger-f6917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974225460698:ios:7deab67b7048328a0e44e3</string>
</dict>
</plist>